* {
  margin: 0;
  padding: 0;
}

:root {
  scroll-padding-top: 3vh;
}

body {
  font-family: 'Noto Sans TC', sans-serif;
  background-color: #F9F9F9;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}



.header {
  display: flex;

}



/* Nav*/
.navbar {
  background-color: rgb(39,112,164);
  color: white;
  height: 8vh;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.navbar-left {
  font-size: 24px;
}

.navbar-right a {
  margin-left: 22px;
  color: white;
  text-decoration: none;
  border-radius: 12px;
  /* 添加圓角 */
  padding: 10px;
  /* 為文字添加一些內間距，使按鈕看起來更大 */
  transition: background-color 0.3s ease, color 0.3s ease;
  /* 添加過渡效果 */
}

.navbar-right a:hover {
  background-color: rgb(82,137,161);
  /* 滑鼠懸停時的背景顏色 */
  color: #ffffff;
  /* 滑鼠懸停時的文字顏色（可選） */
}



/* Mid dashboard */

.dashboard {
  display: block
}

/* Map */
.map {
  width: 40%;
  /*border: 1px solid blue;*/
  position: relative;
}

.coordinates {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 5px;
}

.goose-icon {
  position: absolute;
  width: 60px;
  height: 60px;
  background-image: url('goose.png');
  background-size: cover;
}

.youtube {
  width: 60%;
  /*border: 1px solid red;*/
}

.map,
.youtube {

  /*padding-top: 3vh;*/
  height: 70vh;
  position: relative;
}

.map img,
.youtube iframe {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(255, 0, 0, 0.1);
}


.youtube iframe {
  position: absolute;
}


/*Footer*/
.footer {
  /*border: 1px solid red;*/
  background: #b9e7fa;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 30vh;
  display: flex;
  z-index: 1;
}

.tabs {
  /*border: 1px solid blue;*/
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1em;
}

.btn {
  background-color: #92cae0;
  text-decoration: none;
  font-size: 1.5em;
  border-radius: 25px;
  /* 使按鈕變成橢圓形 */
  transition: background-color 0.3s ease;
  /* 添加過渡效果 */
}

.btn:hover {
  background-color: #5b8a9f;
  /* 滑鼠指到時的背景顏色 */
}


.info {
  /*border: 1px solid rgb(94, 255, 0);*/
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1em;
}



@media only screen and (max-width: 1024px) {
  .header {
    flex-direction: column;
  }

  .navbar {
    height: 15vh;
    position: static;
  }

  .navbar-left {
    font-size: 1.5em;
    padding: 5px;
  }

  .navbar-right a {
    margin-left: 0.5em;
    color: white;
    text-decoration: none;
    padding-right: 5px;

  }

  .map,
  .youtube {
    width: 100%;
    height: 50vh;
  }

  .youtube {
    width: 100%;
    height: 30vh;
  }

  .midInfo {
    padding-bottom: 20vh;

  }
  .indexNav{
    display:contents;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .tabs {
    flex-direction: column;
    justify-content: space-evenly;
  }

  body {
    font-size: 1.5em;
  }

  p,
  .navbar-left,
  .navbar-right a,
  .btn,
  .info h1,
  .info p {
    font-size: 2em;
  }

  h1 {
    font-size: 3em;
  }

  .footer {
    position: fixed;
    bottom: 0;
    height: 20vh;
    width: 100%;
  }
}